<div ng-if="checklist" class="well checklist-execute" style="margin: 20px 0;padding: 0 0 15px">
    <div class="row" ng-click="isOpen = !isOpen" style="margin:0;padding:0; border-bottom: 1px solid #b1b1b1;height: 35px">
        <img src="{{isOpen ? 'media/arrow_expand.png' : 'media/arrow_collapse.png'}}"  class="pull-left" style="cursor: pointer" ng-style="{'margin-left': isOpen ? '10px':'10px', 'margin-top': isOpen ? '15px':'10px'}">
        <span style="margin-left: 10px;margin-top: 8px;position: absolute;font-size: 16px;font-family: 'Ubuntu Medium'; color:#0b7458;">{{checklist.name}}</span>
        <img src="media/stop.png" ng-if="checklist.status == 0 || checklist.status == 1" ng-click="changeStatus($event, 2)" class="pull-right" title="Stop execute" style="margin-top: 5px;margin-right: 10px;cursor: pointer">
        <img src="media/pause.png" ng-if="checklist.status == 0" ng-click="changeStatus($event, 1)" class="pull-right" title="Pause execute" style="margin-top: 5px;margin-right: 10px;cursor: pointer">
        <img src="media/play.png" ng-if="checklist.status == 1" ng-click="changeStatus($event, 0)" class="pull-right" title="Continue execute" style="margin-top: 5px;margin-right: 10px;cursor: pointer">
        <img src="media/print.png" ng-if="checklist.status == 2" ng-click="generateXLS(checklist)" class="pull-right" title="Generate report" style="margin-top: 5px;margin-right: 10px;cursor: pointer">
    </div>
    <div ng-show="isOpen" class="row" style="margin: 10px;padding: 0">
        <div class="col-sm-12 checklist-fields">
          <div style="float: left;width: 200px">
            Iteration
            </div>
          <div style="float: left;width: 250px">
            Build
           </div>
          <div style="float: left;width: 185px">
            Environment
          </div>
          <div style="float: left;width: 190px">
            Tester
          </div>
          <div style="float: left;width: 310px">
            Comment
          </div>
        </div>
        <div class="col-sm-12 well" style="padding: 10px; margin:0;border-radius: 0;">
            <div style="float: left;width: 200px">
              <input ng-change="update(checklist)" style="width:185px"  ui-select2="select2IterationsOptions" ng-model="checklist._iteration" ng-disabled="checklist.status == 2" style="height:auto; width:100%">
            </div>
            <div style="float: left;width: 200px">
              <select ng-change="update(checklist)" ui-select2 ng-model="checklist.build" ng-disabled="checklist.status == 2" data-placeholder="Pick a number" style="width:185px">
                <option ng-repeat="build in builds" value="{{build._id}}">{{build.name}}</option>
              </select>
            </div>
            <div style="float: left;width: 50px;min-height: 1px;">
              <img src="media/button_add.png" ng-click="addBuild()" ng-hide="checklist.status == 2">
            </div>
            <div style="float: left;width: 135px">
                <div style="max-height: 80px; height:80px; overflow-y: scroll;width:120px">
                  <div class="checkbox" ng-repeat="env in envs">
                    <input type="checkbox" id="checkboxInput{{$index}}" checklist-model="checklist.environment" checklist-value="env._id" checklist-change="update(checklist)" ng-disabled="checklist.status == 2 || (checklist.environment.length > 4 && checked === false) ">
                    <label for="checkboxInput{{$index}}"></label>
                    {{env.name}}
                  </div>
                </div>
            </div>
            <div style="float: left;width: 50px;min-height: 1px;">
              <img src="media/button_add.png" ng-click="checklist.environment.length < 4 ? addEnv() : showWarning('Too many env')" ng-hide="checklist.status == 2">
            </div>
            <div style="float: left;width: 190px">
                <input class="form-control" style="width:170px" ng-model="checklist.creator.name" readonly>
            </div>
            <div style="float: left;width: 310px">
              <textarea class="form-control" ng-model="checklist.comment" ng-change="update(checklist)" ng-model-options="{updateOn: 'blur', debounce: {default: 2000, blur: 0} }" ng-disabled="checklist.status == 2"></textarea>
            </div>
        </div>
    </div>
    <div class="row well statusFilter" style="margin:10px 10px 0;padding: 10px;font-size: 16px;font-family: "Ubuntu Medium">
      <span style="margin-right: 25px">Filters:</span>
      <img ng-click="addToStatusFilter(0)" alt="Ok" title="Ok" name="ok" src="media/checklist/result/ok_on.png" ng-class="getStatusFilterClass(0)">
      <img ng-click="addToStatusFilter(1)" alt="Fail" title="Fail" name="fail" src="media/checklist/result/fail_on.png" ng-class="getStatusFilterClass(1)">
      <img ng-click="addToStatusFilter(2)" alt="Bug" title="Bug" name="bug" src="media/checklist/result/bugs_on.png" ng-class="getStatusFilterClass(2)">
      <img ng-click="addToStatusFilter(3)" alt="Blocked" title="Blocked" name="blocked" src="media/checklist/result/blocked_on.png" ng-class="getStatusFilterClass(3)">
      <img ng-click="addToStatusFilter(4)" alt="Not run" title="Not run" name="notrun" src="media/checklist/result/notrun_on.png" ng-class="getStatusFilterClass(4)">
    </div>
    <div class="row checklist-header">
      <div class="col-sm-1">
        №:
      </div>
      <div class="col-sm-1">
        Priority
      </div>
      <div class="col-sm-3">
        Step
      </div>
      <div class="col-sm-3">
        Expected
      </div>
      <div class="col-sm-2">
        Comment
      </div>
      <div class="col-sm-2">
        <div style="width:20%;float:left;text-align: center" ng-repeat="env in checklist.environment">E{{$index + 1}}</div>
      </div>
    </div>
    <div class="steps scroll-wrapper" style="margin: 0px 10px 5px; overflow-x: hidden; overflow-y: auto" id="scroll-wrapper" ng-style="{'height' : isOpen ? 'calc(100% - 280px)' : 'calc(100% - 138px)'}">
        <div tms-executed-checklist group="checklist" envs="envs" filters="selectedStatuses"></div>
    </div>
</div>
