<div ng-controller="ExecutedChecklistGroupController">
  <div ng-repeat="step in group.steps | statusFilter:filters | orderBy:'id'" class="row" style="margin:0">
    <div class="row step" ng-class="{ok:step.status == 0,fail:step.status == 1, bug:step.status == 2, blocked:step.status == 3, default: step.status == 4, 'group-header': step.group}">
      <div class="col-sm-1">
        <div style="margin-left: 20px;margin-top:8px">{{parentIndex ? parentIndex + '.' + ($index + 1) : $index + 1}}</div>
      </div>
      <div class="col-sm-1" ng-if="!step.group">
        <img ng-src="{{getPriorityImage(step)}}" title="{{getPriorityTitle(step)}}">
      </div>
      <div class="col-sm-3">
        <pre ng-bind-html="step.step|| 'no description'"></pre>
      </div>
      <div class="col-sm-3">
        <pre ng-bind-html="step.expected|| 'no description'"></pre>
      </div>
      <div class="col-sm-2" ng-if="!step.group">
        <a ng-if="checklist.status == 0" href="#" editable-textarea="step.comment" e-rows="10" e-cols="30" onaftersave="update(checklist)" blur="submit">
          <pre ng-bind-html="step.comment|| 'no description'"></pre>
        </a>
        <pre ng-if="checklist.status !== 0" ng-bind-html="step.comment|| 'no description'"></pre>
      </div>
      <div class="col-sm-2 statusFilter" ng-init="step.status = step.status != undefined ? step.status : 4;isStatusOpen = false;" ng-if="!step.group">
        <div style="width:20%;float:left;" ng-repeat="env in checklist.environment">
          <img ng-click="isStatusOpen = !isStatusOpen;setCurrentEnv(env);" class="active" alt="{{getStatusTitle(step, env)}}" title="{{getStatusTitle(step, env)}} on {{getNameOfEnvById(env)}}" src="{{getStatusImage(step, env)}}">
          <div ng-show="isStatusOpen" class="well" style="position: absolute;z-index: 2;top:0;width: 205px;left: 0;">
            <div style="float:left">
              <img ng-click="changeStepStatus(0, step);changeStepEnvStatus(0, step);isStatusOpen = !isStatusOpen" alt="Ok" title="Ok" src="media/checklist/result/ok_on.png" ng-class="{active:step.envs[env] == 0}">
            </div>
            <div style="float: left">
              <img ng-click="changeStepStatus(1, step);changeStepEnvStatus(1, step);isStatusOpen = !isStatusOpen" alt="Fail" title="Fail" src="media/checklist/result/fail_on.png" ng-class="{active:step.envs[env] == 1}">
            </div>
            <div style="float: left">
              <img ng-click="changeStepStatus(2, step);changeStepEnvStatus(2, step);isStatusOpen = !isStatusOpen" alt="Bug" title="Bug" src="media/checklist/result/bugs_on.png" ng-class="{active:step.envs[env] == 2}">
            </div>
            <div style="float: left">
              <img ng-click="changeStepStatus(3, step);changeStepEnvStatus(3, step);isStatusOpen = !isStatusOpen" alt="Blocked" title="Blocked" src="media/checklist/result/blocked_on.png" ng-class="{active:step.envs[env] == 3}">
            </div>
            <div style="float: left">
              <img ng-click="changeStepStatus(4, step);changeStepEnvStatus(4, step);isStatusOpen = !isStatusOpen" alt="Not run" title="Not run" src="media/checklist/result/notrun_on.png" ng-class="{active:step.envs[env] == 4}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5" ng-show="step.group" ng-click="collapseGroup = !collapseGroup">
        <img ng-src="{{collapseGroup ? 'media/arrow_collapse.png' : 'media/arrow_expand.png'}}" class="pull-right" style="margin-left: 10px;margin-top:10px">
      </div>
    </div>
    <div ng-if="step.group" ng-hide="collapseGroup" ng-init="group = step" ng-include="'app/projects/project/checklists/execute/executed-checklist.html'" style="border-bottom: 2px solid lightgray"></div>
  </div>
</div>
