<div class="dialog-contents">
    <div class="row" style="margin-top: 5px">
        <div class="col-sm-12">
            <span class="label label-success">Username:</span>
            <input class="form-control" ng-model="newUser.username">
        </div>
        <div class="col-sm-12">
            <span class="label label-success">Name:</span>
            <input class="form-control" ng-model="newUser.name">
        </div>
        <div class="col-sm-12">
            <span class="label label-success">Search:</span>
            <input class="form-control" ng-model="newUser.search">
        </div>
        <div class="col-sm-12">
            <span class="label label-success">E-mail:</span>
            <input class="form-control" ng-model="newUser.email">
        </div>
        <div class="col-sm-12">
            <span class="label label-success">Password:</span>
            <input class="form-control" type="password" ng-model="newUser.password">
        </div>
        <div class="col-sm-12">
          <span class="label label-success">Redmine Api Key:</span>
          <input class="form-control" ng-model="newUser.redmine_key">
        </div>
        <div class="col-sm-12">
          <span class="label label-success">Redmine ID:</span>
          <input class="form-control" ng-model="newUser.redmine_id">
        </div>
    </div>
    <div class="row" style="padding-top: 5px">
        <div class="col-sm-6">
            <button class="form-control btn btn-primary" ng-click="closeThisDialog()">Cancel</button>
        </div>
        <div class="col-sm-6">
            <button class="form-control btn btn-success" ng-click="confirm()">Create</button>
        </div>
    </div>
</div>
