<div ng-controller="ChecklistGroupController">
  <div context-menu data-target="menu-{{$id}}" ng-init="stepIndex = $index" ng-repeat="step in group.steps | orderBy:'id'" class="row" style="margin:0">
    <div class="row step" style="margin:0; cursor: default" ng-class="{'group-header': step.group, 'active': step.$$selected}" ng-click="addToBuffer($event, step)">
      <div class="col-sm-1" style="padding-left: 5px">
        <img ng-hide="$first" ng-click="changePosition(-1, step, $event)" class="pull-left glyphicon glyphicon-arrow-up" title="To top" style="font-size:15px;margin-top: 0; cursor: pointer;position: absolute" src="media/arrow_up.png">
        <img ng-hide="$last" ng-click="changePosition(1, step, $event)" class="pull-left glyphicon glyphicon-arrow-down" title="To bottom" style="font-size:15px;margin-top:17px; cursor: pointer; position: absolute" src="media/arrow_down.png">
        <div style="margin-left: 20px;margin-top:8px">{{parentIndex ? parentIndex + '.' + ($index + 1) : $index + 1}}</div>
      </div>
      <div class="col-sm-1" ng-if="!step.group">
        <img ng-src="{{getPriorityImage(step)}}" ng-click="isPriorityOpen = !isPriorityOpen" width="36px" style="max-width: 64px;background:rgba(255,255,255,0.001);margin:auto;display:block;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;margin-left: 5px;" title="{{getPriorityTitle(step)}}">
        <div ng-show="isPriorityOpen" class="well" style="position: absolute;z-index: 2;top:0;left:100%;width: 185px;">
          <div style="float:left">
            <img style="display: inline" ng-src="media/checklist/priority/low.png" ng-click="isPriorityOpen = !isPriorityOpen;setPriority(checklist, step, 1, priorityImage)" width="36px" title="Low">
          </div>
          <div style="float: left">
            <img style="display: inline" ng-src="media/checklist/priority/normal.png" ng-click="isPriorityOpen = !isPriorityOpen;setPriority(checklist, step, 2, priorityImage)" width="36px" title="Normal">
          </div>
          <div style="float: left">
            <img style="display: inline" ng-src="media/checklist/priority/high.png" ng-click="isPriorityOpen = !isPriorityOpen;setPriority(checklist, step, 3, priorityImage)" width="36px" title="High">
          </div>
          <div style="float: left">
            <img style="display: inline" ng-src="media/checklist/priority/immediate.png" ng-click="isPriorityOpen = !isPriorityOpen;setPriority(checklist, step, 4, priorityImage)" width="36px" title="Immediate">
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <a href="#" editable-textarea="step.step" e-rows="10" e-cols="30" onaftersave="update()" blur="submit">
          <pre ng-bind-html="step.step|| 'no description'"></pre>
        </a>
      </div>
      <div class="col-sm-5">
        <a href="#" editable-textarea="step.expected" e-rows="10" e-cols="30" onaftersave="update()" blur="submit">
          <pre ng-bind-html="step.expected || 'no description'"></pre>
        </a>
      </div>
      <div class="col-sm-1" ng-show="step.group" ng-click="collapseGroup = !collapseGroup">
        <img ng-src="{{collapseGroup ? 'media/arrow_collapse.png' : 'media/arrow_expand.png'}}" class="pull-right" style="margin-left: 10px;margin-top:10px">
      </div>
    </div>
    <div ng-if="step.group" ng-hide="collapseGroup" ng-init="group = step " ng-include="'app/projects/project/checklists/checklist.html'" style="border-bottom: 2px solid lightgray"></div>
    <div class="dropdown position-fixed contextMenu" id="menu-{{ $id }}">
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-submenu">
          <a tabindex="-1" href="#">Step</a>
          <ul class="dropdown-menu">
            <li>
              <a class="pointer" role="menuitem" tabindex="1"
                 ng-click="delete($event, step);">
                Delete step {{parentIndex ? parentIndex + '.' + ($index + 1) : $index + 1}}
              </a>
            </li>
            <li>
              <a class="pointer" role="menuitem" tabindex="2"
                 ng-click="addStepByIndex($index);">
                Add step before
              </a>
            </li>
            <li>
              <a class="pointer" role="menuitem" tabindex="3"
                 ng-click="addStepByIndex($index + 1);">
                Add step after
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown-submenu">
          <a tabindex="-1" href="#">Group</a>
          <ul class="dropdown-menu">
            <li ng-if="!step.group">
              <a class="pointer" role="menuitem" tabindex="4"
                 ng-click="markAsGroup(step);">
                Mark as group
              </a>
            </li>
            <li ng-if="step.group">
              <a class="pointer" role="menuitem" tabindex="5"
                 ng-click="markAsGroup(step);">
                Unmark as group
              </a>
            </li>
            <li ng-if="step.group">
              <a class="pointer" role="menuitem" tabindex="6"
                 ng-click="addStepToGroup(step);">
                Add step to group
              </a>
            </li>
            <li ng-if="step.group && selectedSteps.length > 0">
              <a class="pointer" role="menuitem" tabindex="6"
                 ng-click="copyFromBufferToGroup(step);">
                Paste selected steps to group
              </a>
            </li>
            <li ng-if="step.group && selectedSteps.length > 0">
              <a class="pointer" role="menuitem" tabindex="6"
                 ng-click="moveFromBufferToGroup(step);">
                Move selected steps to group
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown-submenu">
          <a tabindex="-1" href="#">Select</a>
          <ul class="dropdown-menu">
            <li>
              <a class="pointer" role="menuitem" tabindex="6"
                 ng-click="addToBuffer($event, step, true)">
                {{step.$$selected ? "Deselect step" :"Select step"}}
              </a>
            </li>
            <li ng-if="selectedSteps.length > 0">
              <a class="pointer" role="menuitem" tabindex="6"
                 ng-click="deleteFromBuffer()">
                Delete selected steps
              </a>
            </li>
            <li ng-if="selectedSteps.length > 0">
              <a class="pointer" role="menuitem" tabindex="6"
                 ng-click="copyFromBuffer($index);">
                Paste selected step before this
              </a>
            </li>
            <li ng-if="selectedSteps.length > 0">
              <a class="pointer" role="menuitem" tabindex="6"
                 ng-click="copyFromBuffer($index + 1);">
                Paste selected step after this
              </a>
            </li>
            <li ng-if="selectedSteps.length > 0">
              <a class="pointer" role="menuitem" tabindex="6"
                 ng-click="clearBuffer();">
                Clear selection
              </a>
            </li>
          </ul>
        </li>
        <li ng-repeat="folder in templates" ng-include="'templates-menu.html'" class="dropdown-submenu"></li>
      </ul>
    </div>
  </div>
</div>
<script type="text/ng-template" id="templates-menu.html">
  <a tabindex="-1" href="#">{{folder.name}}</a>
  <ul class="dropdown-menu">
    <li ng-repeat="folder in folder.children" ng-include="'templates-menu.html'" class="dropdown-submenu"></li>
    <li ng-repeat="template in folder.checklists">
      <a class="pointer" role="menuitem" tabindex="6"
         ng-click="insertTemplate(template.steps, stepIndex + 1)">
        {{template.name}}
      </a>
    </li>
  </ul>
</script>
