<div class="row" style="margin: 0px">
    <div class="col-md-10 col-md-offset-1">
        <google-map center="map.center" draggable="true" zoom="map.zoom" events="map.events" options="map.options">
            <marker coords="locationMarker.coords" icon="locationMarker.icon" options="locationMarker.options" events="locationMarker.events" idKey="locationMarker.id">
            </marker>
            <marker ng-repeat="marker in map.markers" coords="marker"  idKey="marker.id">
                <marker-label content="marker.title" anchor="24 80" class="marker-labels"/>
                <window isIconVisibleOnClick="true" options="map.infoWindowWithCustomClass.options">This is my clicked marker!
                    <p class="muted">My marker will reappear when you close me.</p>
                </window>
            </marker>
            <polyline ng-repeat="p in map.polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                      geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></polyline>
        </google-map>
    </div>
</div>
<div class="row col-md-10 col-md-offset-1" style="margin-top: 5px">
    <div class="col-sm-2">
        <input ng-show="execute.state == 0" type="submit" style="margin-top: 20px" value='Run' class="btn btn-success" ng-click="executePath();execute.state = 1" ng-disabled="elevationPath.length > 0 ? false : true">
        <input ng-show="execute.state == 1" type="submit" style="margin-top: 20px" value='Stop' class="btn btn-success" ng-click="stopExecutePath();execute.state = 0;" ng-disabled="elevationPath.length > 0 ? false : true">
        <input type="submit" style="margin-top: 20px" value='Clear' class="btn btn-success" ng-click="clearPath()" ng-disabled="map.markers.length > 0 ? false : true">
    </div>
    <div class="col-sm-2">
        <span class="label label-success">Client:</span>
        <select ng-init="client=''" class="form-control" ng-model="client" id="client" ng-options="client.value as client.text for client in clients">
        </select>
    </div>
    <div class="col-sm-2">
        <span class="label label-success">Speed(m/s):</span>
        <input ng-init="speed = 60" class="form-control" ng-model="speed" id="speed" >
    </div>
</div>
