<div class="row-fluid projects-layout" style="margin-left: 10px !important;margin-right: 5px !important;">
<div class="col-sm-2">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 5px">
            <span class="label label-success">Roles</span>
            <div class="row well" style="margin:0">
                <div class="row" style="border-bottom: 2px solid #cecece;margin-bottom: 5px">
                    Name
                    <i class="glyphicon glyphicon-plus pull-right" ng-click="addRole()"></i>
                </div>
                <div class="row">
                    Role 1
                </div>
                <div class="row">
                    Role 2
                </div>
                <div class="row">
                    Role 3
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="label label-success">Users</span>
            <div class="row well" style="margin:0;">
                <div class="row" style="border-bottom: 2px solid #cecece;margin-bottom: 5px">
                    Name
                    <i class="glyphicon glyphicon-plus pull-right" ng-click="addUser()"></i>
                </div>
                <div class="row highlight" ng-repeat="user in users | orderBy:['-active','name']" ng-click="selectUser(user)" ng-style="{'background-color':user.$selected ?'#b7ebab': user.active ?'#ffffff' : '#DBD9D9', 'border-bottom':'1px solid #ebebeb'}">
                    {{user.name}}
                    <i class="glyphicon glyphicon-edit pull-right" ng-click="editUser()"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-10">
    <div class="row" style="margin-bottom: 5px">
        <div class="col-sm-6">
            <span class="label label-success">Iteration Calendar</span>
            <div class="row well" style="margin:0">
                <div class="col-sm-6">
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                          <input type="checkbox" ng-model="selectedUser.permissions['Iteration_Calendar']['View'].value" ng-change="update()">
                        </span>
                        <span class="form-control">View</span>
                    </div>
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Iteration_Calendar']['Add'].value" ng-change="update()">
                          </span>
                        <span class="form-control">Add</span>
                    </div>
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Iteration_Calendar']['Edit'].value" ng-change="update()">
                          </span>
                        <span class="form-control">Edit</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Iteration_Calendar']['View_All'].value" ng-change="update()">
                          </span>
                        <span class="form-control">View All Iterations</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <span class="label label-success">Task Calendar</span>
            <div class="row well" style="margin:0">
                <div class="col-sm-6">
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                          <input type="checkbox" ng-model="selectedUser.permissions['Task_Calendar']['View'].value" ng-change="update()">
                        </span>
                        <span class="form-control">View</span>
                    </div>
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Task_Calendar']['Add'].value" ng-change="update()">
                          </span>
                        <span class="form-control">Add</span>
                    </div>
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Task_Calendar']['Edit'].value" ng-change="update()">
                          </span>
                        <span class="form-control">Edit</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Task_Calendar']['View_All'].value" ng-change="update()">
                          </span>
                        <span class="form-control">View All Tasks</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 5px">
        <div class="col-sm-6">
            <span class="label label-success">Projects</span>
            <div class="row well" style="margin:0">
                <div class="col-sm-6">
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                          <input type="checkbox" ng-model="selectedUser.permissions['Projects']['View'].value" ng-change="update()">
                        </span>
                        <span class="form-control">View</span>
                    </div>
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Projects']['Add'].value" ng-change="update()">
                          </span>
                        <span class="form-control">Add</span>
                    </div>
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Projects']['Edit'].value" ng-change="update()">
                          </span>
                        <span class="form-control">Edit</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Projects']['View_All'].value" ng-change="update()">
                          </span>
                        <span class="form-control">View All Projects</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <span class="label label-success">Project > Checklists</span>
            <div class="row well" style="margin:0">
                <div class="col-sm-6">
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                          <input type="checkbox" ng-model="selectedUser.permissions['Checklists']['View'].value" ng-change="update()">
                        </span>
                        <span class="form-control">View</span>
                    </div>
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Checklists']['Add'].value" ng-change="update()">
                          </span>
                        <span class="form-control">Add</span>
                    </div>
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Checklists']['Edit'].value" ng-change="update()">
                          </span>
                        <span class="form-control">Edit</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Checklists']['Execute'].value" ng-change="update()">
                          </span>
                        <span class="form-control">Execute</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Checklists']['View_All'].value" ng-change="update()">
                          </span>
                        <span class="form-control">View All Checklists</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 5px">
        <div class="col-sm-6">
            <span class="label label-success">Project > TimeLine</span>
            <div class="row well" style="margin:0">
                <div class="col-sm-6">
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                          <input type="checkbox" ng-model="selectedUser.permissions['TimeLine']['View'].value" ng-change="update()">
                        </span>
                        <span class="form-control">View</span>
                    </div>
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['TimeLine']['Add'].value" ng-change="update()">
                          </span>
                        <span class="form-control">Add</span>
                    </div>
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['TimeLine']['Edit'].value" ng-change="update()">
                          </span>
                        <span class="form-control">Edit</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['TimeLine']['View_All'].value" ng-change="update()">
                          </span>
                        <span class="form-control">View All TimeLine</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <span class="label label-success">Project > Overview</span>
            <div class="row well" style="margin:0">
                <div class="col-sm-6">
                    <div class="input-group" style="margin-bottom: 5px">
                        <span class="input-group-addon">
                          <input type="checkbox" ng-model="selectedUser.permissions['Overview']['View'].value" ng-change="update()">
                        </span>
                        <span class="form-control">View</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedUser.permissions['Overview']['View_All'].value" ng-change="update()">
                          </span>
                        <span class="form-control">View All</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
