<div class="well issues-form" style="margin: 20px 0;padding: 0 0 15px" ng-init="getIssues()">
    <div class="row" ng-click="isOpen = !isOpen" style="margin:0;padding:0; border-bottom: 1px solid #b1b1b1;height: 35px">
        <img src="media/arrow_collapse.png" class="pull-left" style="margin-left: 10px;margin-top: 10px;cursor: pointer">
        <span style="margin-left: 10px;margin-top: 8px;position: absolute;font-size: 16px;font-family: 'Ubuntu Medium'; color:#0b7458;">Issues</span>
        <img src="media/play.png" ng-click="executeIssues($event, issues)" class="pull-right" title="Run issues" style="cursor: pointer;margin-right: 15px;margin-top: 6px;">
    </div>
    <div ng-show="isOpen" class="row" style="margin: 10px;padding: 0">
        <div class="col-sm-12 checklist-fields">
          <div style="float: left;width: 200px">
            Status
          </div>
          <div style="float: left;width: 200px">
            Tracker
          </div>
          <div style="float: left;width: 320px">
            Version
          </div>
          <div style="float: left;width: 190px">
            Name
          </div>
        </div>
        <div class="col-sm-12 well" style="padding: 10px; margin:0;border-radius: 0;">
            <div style="float: left;width: 200px">
              <select multiple class="form-control" style="width:185px" ng-change="applyFilter(filters)" ng-model="filters.status" ng-options="status.id as status.name for status in statuses"></select>
            </div>
            <div style="float: left;width: 200px">
              <select multiple class="form-control" style="width:185px" ng-change="applyFilter(filters)" ng-model="filters.tracker" ng-options="tracker.id as tracker.name for tracker in trackers"></select>
            </div>
            <div style="float: left;width: 320px">
              <select multiple class="form-control" style="width:300px" ng-change="applyFilter(filters)" ng-model="filters.version">
                <option ng-repeat="version in versions"
                        value="{{version.value}}"
                        title="{{version.text}}"
                        ng-selected="v.value == params.value">{{version.text}}
                </option>
              </select>
            </div>
            <div style="float: left;width: 190px">
              <input class="form-control" style="width:170px" ng-model="issueName">
            </div>
        </div>
    </div>
    <div class="row checklist-header">
      <div class="col-sm-1">
        №:
      </div>
      <div class="col-sm-1">
        Type
      </div>
      <div class="col-sm-2">
        Status
      </div>
      <div class="col-sm-1">
        Priority
      </div>
      <div class="col-sm-4">
        Name
      </div>
      <div class="col-sm-3">
        Assign
      </div>
    </div>
    <div class="issues scroll-wrapper" style="margin: 0px 10px 5px; overflow-x: hidden; overflow-y: scroll" id="scroll-wrapper" ng-style="{'height' : isOpen ? 'calc(100% - 230px)' : 'calc(100% - 88px)'}">
      <div infinite-scroll='loadMoreSteps()' infinite-scroll-parent="true" infinite-scroll-distance='5'>
          <div ng-repeat="issue in issues | orderBy:'-id' track by issue.id" class="row issue">
              <div class="col-sm-1">
                <input id="step-number" class="form-control" ng-model="issue.id" readonly>
              </div>
              <div class="col-sm-1">
                <pre ng-bind-html="issue.type || 'n/a'"></pre>
              </div>
              <div class="col-sm-2">
                <pre ng-bind-html="issue.redmineStatus || 'n/a'"></pre>
              </div>
              <div class="col-sm-1">
                <img ng-src="{{getPriorityImage(issue.priority)}}" title="{{issue.priority}}">
              </div>
              <div class="col-sm-4">
                <pre ng-bind-html="issue.step || 'n/a'"></pre>
              </div>
              <div class="col-sm-3">
                <pre ng-bind-html="issue.assign || 'n/a'"></pre>
              </div>
          </div>
      </div>
      <div ng-show="issues === undefined" style="background-color: #ffffff;position: relative;height: 100%">
        <img class="img-center" width="32px" src="media/ajax-loader.gif">
      </div>
    </div>
</div>
