<div class="dialog-contents">
  <form name="addEnvForm" ng-submit="confirm()">
    <div class="row" style="margin-top: 5px">
        <div class="col-sm-12">
            <span class="label label-success">Name:</span>
            <input required class="form-control" ng-model="env.name">
        </div>
        <div class="col-sm-12">
            <span class="label label-success">Comment:</span>
            <textarea required class="form-control" ng-model="env.comment"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 5px">
        <div class="col-sm-6">
            <button class="form-control btn btn-primary" ng-click="closeThisDialog()">Cancel</button>
        </div>
        <div class="col-sm-6">
            <button class="form-control btn btn-success" type="submit" ng-disabled="addEnvForm.$invalid">Create</button>
        </div>
    </div>
  </form>
</div>
