<div class="row-fluid timeline-container" style="padding-left: 5px;position: absolute;width: 100%;height: 100%;">
  <div style="padding-left: 15px;padding-top:20px;width:99%; position: absolute; height: 100%">
    <div class="well timeline col-sm-12 col-xs-12">
      <div class="row">
        <div class="form-group text-center col-sm-3 col-xs-3">
          <label class="control-label">Scale</label><br>
          <ui-select ng-model="options.scale"
                     theme="bootstrap"
                     reset-search-input="false"
                     style="width: 100%;height:auto;height: 35px; text-align: left">
            <ui-select-match placeholder="Select scale...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="s in ['hour', 'day', 'week', 'month', 'quarter', 'year']"
                               refresh="navbar.refreshProjects($select.search)"
                               refresh-delay="0">
              <div ng-bind-html="s | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group text-center col-sm-4 col-xs-4">
          <label class="control-label">Date range</label><br>
          <div class="form-group">
            <input type="text" readonly class="form-control ng-pristine ng-valid ng-touched" is-open="openStartDate" ng-click="openStartDate = true" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="options.fromDate" placeholder="From">
          </div>
          <div class="form-group">
            <input type="text" readonly class="form-control ng-pristine ng-untouched ng-valid" is-open="openEndDate" ng-click="openEndDate = true" datepicker-popup="{{'dd-MM-yyyy'}}"  ng-model="options.toDate" placeholder="To">
          </div>
        </div>
        <div class="form-group text-center col-sm-2 col-xs-2">
          <label class="control-label">Non-working</label><br>
          <ui-select ng-model="options.timeFramesNonWorkingMode"
                     theme="bootstrap"
                     reset-search-input="false"
                     style="width: 100%;height:auto;height: 35px; text-align: left">
            <ui-select-match placeholder="Select non-workng">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="e in ['visible', 'hidden', 'cropped']"
                               refresh="navbar.refreshProjects($select.search)"
                               refresh-delay="0">
              <div ng-bind-html="e | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="row">
        <div gantt
             data="data"
             from-date = "options.fromDate"
             to-date = "options.toDate"
             view-scale="options.scale"
             time-frames="options.timeFrames"
             date-frames="options.dateFrames"
             filter-row="options.filterRows"
             time-frames-non-working-mode="options.timeFramesNonWorkingMode"
             column-width="(options.width || options.scale === 'hour' || options.scale === 'minute') && {minute: 40, hour: 40, day: 40, week: 150, month: 300, quarter: 500, year: 800}[options.scale] || undefined">
          <gantt-labels></gantt-labels>
          <gantt-movable allow-row-switching="false"></gantt-movable>
          <gantt-draw-task
            enabled="true"
            task-factory="drawTaskFactory">
          </gantt-draw-task>
          <gantt-tooltips></gantt-tooltips>
        </div>
      </div>
    </div>
  </div>
</div>

