<div class="row calendar-layout well" style="margin-left: 0 !important;margin-right: 0 !important;width:calc(100% - 100px);height:calc(100% - 225px);padding: 5px;position: fixed;left:50px;margin-top:20px" ng-init="getUsers();getIterations()">
    <tabset style="margin-left: 5px !important;margin-right: 5px !important;height: 100%" >
        <tab heading="By Project" ng-click="onTabClick(tabs.iteration, tabs.user);tabs.iteration.rendered = true;">
            <div ng-if="tabs.iteration.rendered" style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px;width:99%;position: absolute; height:calc(100% - 50px)">
                <div class='calendarByIteration' ui-calendar="uiConfigByIteration.calendar" data-calendar="taskByProject" ng-model="eventSourcesByIteration" style="position: absolute;height:100%;width:99%;margin-left: -15px"></div>
            </div>
        </tab>
        <tab heading="By User" active="tabs.user.active" ng-click="onTabClick(tabs.user, tabs.iteration);tabs.user.rendered = true;">
            <div ng-if="tabs.user.rendered" style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px;width:99%;position: absolute; height:calc(100% - 50px)">
                <div class='calendarByUser' ui-calendar="uiConfigByUser.calendar" data-calendar="taskByUser" ng-model="eventSourcesByUser" style="position: absolute;height:100%;width:99%;margin-left: -15px"></div>
            </div>
        </tab>
    </tabset>
    <div class="accordion-style">
        <accordion close-others="true" class="accordion">
            <accordion-group ng-show="!accordionGroups[0].isDisabled" is-collapseble="false" is-open="accordionGroups[0].isOpen" is-disabled="accordionGroups[0].isDisabled">
                <accordion-heading>
                    Task Description <i class="pull-right glyphicon glyphicon-remove" ng-click="accordionGroups[0].isDisabled = !accordionGroups[0].isDisabled;close()" title="Close"></i>
                    <i class="pull-right glyphicon glyphicon-trash" style="margin-right: 10px" ng-click="hasPermissionEdit ? remove($event) : ''" title="Remove"></i>
                </accordion-heading>
                <div class="form-group">
                    <div class="row" style="margin-left: 0px;margin-right: 0px">
                        <span class="label label-success">Iteration:</span>
                        <input disabled id="project" class="form-control" ng-model="e_selected.iteration" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-change="update()">
                    </div>
                    <div class="row" style="margin-left: 0px;margin-right: 0px">
                        <span class="label label-success">Task:</span>
                        <input ng-disabled="!hasPermissionEdit" id="description" class="form-control" ng-model="e_selected.name" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }"  ng-change="update()">
                    </div>
                    <span class="label label-success">Whens:</span>
                    <div class="row" style="margin-left: 0px;margin-right: 0px">
                        <input ng-disabled="!hasPermissionEdit" type="text" is-open="openStartDate" ng-click="openStartDate = true" datepicker-popup ng-model="e_selected.start" style="width:100%" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-change="update()">
                        <span class="input-group-addon">to</span>
                        <input ng-disabled="!hasPermissionEdit" type="text" is-open="openEndDate" ng-click="openEndDate = true" datepicker-popup ng-model="e_selected.end" style="width:100%" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-change="update()">
                    </div>
                    <div class="row" style="margin-left: 0px;margin-right: 0px">
                        <span class="label label-success">Priority:</span>
                        <select ng-disabled="!hasPermissionEdit" class="form-control" ng-model="e_selected.priority" id="priority" ng-options="priority.value as priority.text for priority in priorities" ng-change="update()">
                        </select>
                    </div>
                    <div class="row" style="margin-left: 0px;margin-right: 0px">
                        <span class="label label-success">Color:</span>
                        <spectrum-colorpicker ng-model="e_selected.color" options='{allowEmpty: true, clickoutFiresChange: true, disabled:{{!hasPermissionEdit}}}' format="Hex" ng-change="update()"></spectrum-colorpicker>
                    </div>
                    <div class="row" style="margin-left: 0px;margin-right: 0px">
                        <span class="label label-success">Users:</span>
                        <input ng-disabled="!hasPermissionEdit" type="hidden" ui-select2="select2UsersOptions" ng-model="e_selected.users" style="height:auto; width:100%" ng-change="update()">
                    </div>
                </div>
            </accordion-group>
        </accordion>
   </div>
</div>
