<div class="row">
    <div class="col-sm-12">
        Create New Task
    </div>
</div>
<div class="row">
    <form name="createTaskForm" class="form-horizontal col-sm-12" ng-submit="confirm()">
        <div class="row" style="margin-left: 0px;margin-right: 0px">
            <span class="label label-success">Iteration:</span>
            <input maxlength="100" id="project" ui-select2="select2IterationsOptions" ng-model="newTask._iteration" style="height:auto; width:99%">
        </div>
        <div class="row" style="margin-left: 0px;margin-right: 0px">
            <span class="label label-success">Task:</span>
            <input required maxlength="100" id="iteration" class="form-control" ng-model="newTask.name" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }">
        </div>
        <span class="label label-success">Whens:</span>
        <div class="row" style="margin-left: 0px;margin-right: 0px">
            <input required type="text" is-open="openStartDate" ng-click="openStartDate = true" datepicker-popup ng-model="newTask.startDate" style="width:100%">
            <span class="input-group-addon">to</span>
            <input required type="text" is-open="openEndDate" ng-click="openEndDate = true" datepicker-popup ng-model="newTask.endDate" style="width:100%">
        </div>
        <div class="row" style="margin-left: 0px;margin-right: 0px">
            <span class="label label-success">Priority:</span>
            <select class="form-control" ng-model="newTask.priority" id="new-priority" ng-options="priority.value as priority.text for priority in priorities">
            </select>
        </div>
        <div class="row" style="margin-left: 0px;margin-right: 0px">
            <span class="label label-success">Color:</span>
            <spectrum-colorpicker ng-model="newTask.color" options='{allowEmpty: true, clickoutFiresChange: true}' format="Hex"></spectrum-colorpicker>
        </div>
        <div class="row" style="margin-left: 0px;margin-right: 0px">
            <span class="label label-success">Users:</span>
            <input type="hidden" ui-select2="select2UsersOptions" ng-model="newTask._user" style="height:auto; width:99%">
        </div>
        <div class="row center-block" style="padding-top: 5px">
            <div class="col-sm-6">
                <button class="form-control btn btn-primary" ng-click="closeThisDialog()">Cancel</button>
            </div>
            <div class="col-sm-6">
                <button class="form-control btn btn-success" type="submit" ng-disabled="createTaskForm.$invalid || newTask._iteration.length == 0">Create</button>
            </div>
        </div>
    </form>
</div>
