<div ng-init="folder.$isOpen = folder._id == 1 ? true : false; folder.$offset = folder.$offset ? folder.$offset : 0" ng-repeat="folder in folders | orderBy:'name' track by folder._id" style="-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;">
  <div ng-controller="ChecklistTreeViewController">
      <div class="item highlight" ng-click="folder.$$selected=true;selectFolder($event, folder, isTemplate)" ng-style="{'background-color':folder.$$selected ?'#d5efe8':'#ffffff', 'border-bottom':'1px solid #ebebeb'}">
          <div class="col-sm-6" ng-dblclick = "folder.$isOpen = !folder.$isOpen" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
              <span ng-style="{'padding-right': folder.$offset + 'px'}"></span>
              <img src="media/folder.png" style="margin-right: 5px">
              <span>{{folder.name}}</span>
          </div>
          <div class="col-sm-2">
              {{folder.children.length ? folder.children.length : 0}}/{{folder.checklists.length ? folder.checklists.length : 0}}
          </div>
          <div class="col-sm-1">
              <img ng-if="folder._id !=0" src="media/folder_add.png" ng-click="addFolder($event, folder, folder._id == 2 || isTemplate)" title="Add Folder">
          </div>
          <div class="col-sm-1">
            <img ng-if="folder._id != 0 && folder._id != 2" src="media/tag_add.png" ng-click="addChecklist($event, folder, folder._id == 2 || isTemplate )" title="Add Checklist">
          </div>
          <div class="col-sm-1">
            <img ng-if="folder._id !=0" ng-click="delete($event, folder)" src="media/delete.png" title="Delete Folder">
          </div>
      </div>
      <div class="folderChilds" ng-if="folder.$isOpen" ng-init="children.$offset = folder.$offset + 10; folders = [children];isTemplate = isTemplate ? isTemplate : folder._id == 2" ng-repeat="children in folder.children | orderBy:'name' track by children._id" ng-include="'app/projects/project/checklists/checklist-folder-tree.html'"></div>
      <div class="folderChilds" ng-if="folder.$isOpen" ng-init="offset = folder.$offset;checklist.$$selected = service.checklist._id == checklist._id ? true : false;service.checklist = service.checklist._id == checklist._id ? checklist : service.checklist;" ng-repeat="checklist in folder.checklists | orderBy:'_id'">
          <div class="item highlight" ng-click="checklist.$$selected=true;selectChecklist($event, checklist, isTemplate)" ng-style="{'background-color':checklist.$$selected ?'#d5efe8':'#ffffff', 'border-bottom':'1px solid #ebebeb'}">
              <div class="col-sm-6" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                <span style="padding-right: {{offset+10}}px"></span>
                <img src="media/tag.png" style="margin-right: 5px">
                <span style="text-overflow: ellipsis">{{ checklist.name }}</span>
              </div>
              <div class="col-sm-2">
                  {{checklist.steps.length}}
              </div>
              <div class="col-sm-1">
              </div>
              <div class="col-sm-1">
              </div>
              <div class="col-sm-1">
                  <img ng-click="deleteChecklist($event, checklist)" src="media/delete.png" title="Delete Folder">
              </div>
          </div>
      </div>
  </div>
</div>



