<div class="row-fluid checklists-layout" style="padding-left: 5px;position: absolute;width: 100%;height: 100%;" ng-init="findFolders();isLeftPanelExpand = true;">
    <div style="padding-left: 15px;padding-top:20px;width:99%; position: absolute; height: 100%">
        <div class="row well" style="position: fixed; top:165px; bottom: 0;height: calc(100% - 225px);max-width: 400px;min-width: 400px;padding-top: 10px;" ng-style="{'padding':!isLeftPanelExpand ? '0':'10px','max-width': isLeftPanelExpand ? '400px':'10px', 'min-width': isLeftPanelExpand ? '400px' : '10px' }">
             <div ng-show="isLeftPanelExpand" class="row" style="border-bottom: 1px solid #b1b1b1;margin-bottom: 5px;font-size: 16px; font-family: 'Ubuntu Medium'; color:#0b7458;margin-left: -10px;margin-right: -10px">
                <div class="col-sm-6">
                    Name
                </div>
                <div class="col-sm-2">
                    Count
                </div>
                <div class="col-sm-1">
                    <img src="media/folder_add.png">
                </div>
                <div class="col-sm-1">
                    <img src="media/tag_add.png">
                </div>
                <div class="col-sm-1">
                  <img src="media/delete.png">
                </div>
            </div>
            <div id="tree-view-scroll-wrapper" class="row" style="position: relative;overflow-y: auto;overflow-x:hidden;height: calc(100% - 20px);margin-left: -10px;margin-right: -10px">
              <div ng-show="isLeftPanelExpand" class="checklist-tree-view" folders="folders" style="position:relative;"></div>
            </div>
            <div class="collapse-line" ng-click="isLeftPanelExpand = !isLeftPanelExpand;">
                <i class="glyphicon" ng-class="{'glyphicon-chevron-left':isLeftPanelExpand,'glyphicon-chevron-right':!isLeftPanelExpand}"></i>
            </div>
        </div>
        <div class="well overview" ng-class="{'col-sm-offset-4 col-sm-8':isLeftPanelExpand}" ng-style="{'left':!isLeftPanelExpand ? '15px':'', 'width':!isLeftPanelExpand ? '99%':''}">
            <div ng-controller="ChecklistController" class="checklist">
                <div ng-if="checklist" style="height: 100%">
                    <div class="row" style="margin:0;border-bottom: 1px solid #cecece;height: 45px" ng-click="collapseDetails()">
                      <img ng-src="{{isOpen ? 'media/arrow_expand.png' : 'media/arrow_collapse.png'}}" class="pull-left" style="cursor: pointer" ng-style="{'margin-left': isOpen ? '10px':'10px', 'margin-top': isOpen ? '15px':'10px'}">
                      <span style="padding-top: 8px;padding-left: 10px;position: absolute;font-size: 16px;font-family: 'Ubuntu Medium'; color:#0b7458;">{{checklist.name + (latestVersion !== checklist.version ? ' (Attention! Not last version)' : '' )}}</span>

                      <img src="media/play.png" ng-click="executeChecklist($event, checklist)" class="pull-right" title="Run checklist" style="cursor: pointer;margin-right: 15px;margin-top: 11px;">
                      <ui-select ng-model="currentVersion"
                                 theme="bootstrap"
                                 ng-disabled="disabled"
                                 reset-search-input="false"
                                 on-select="changeVersion($select.selected)"
                                 ng-click="$event.stopPropagation()"
                                 class="pull-right"
                                 style="width: 180px;margin-top:5px;height: 35px;margin-right:10px">
                        <ui-select-match placeholder="Select version...">{{'Version ' + ($select.selected.version ? $select.selected.version : $select.selected) }}</ui-select-match>
                        <ui-select-choices repeat="version in checklist.history track by $index" style="max-height: 300px;">
                          <div ng-bind-html="'Version ' + version.version | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                    <div ng-show="isOpen" class="row" style="margin: 5px 10px; height:100px">
                            <div class="col-sm-12 checklist-fields">
                              <div class="col-sm-3">
                                Folder
                              </div>
                              <div class="col-sm-3">
                                Name
                              </div>
                              <div class="col-sm-2">
                                Estimated time
                              </div>
                              <div class="col-sm-4">
                                Description
                              </div>
                            </div>
                            <div class="col-sm-12 well" style="height: 70px;padding: 5px 0;border-top-right-radius: 0;border-top-left-radius: 0;">
                              <div class="col-sm-3" style="margin-left: 0px;margin-right: 0px;margin-bottom: 7px">
                                  <select class="ac-select stateList" ac-model="checklist.folder" ac-options="folder.name for folder in findFolders()"
                                          ac-settings="{ comboMode: true, loadOnOpen: true, minWidth: '165px' }" ac-change="updateFolder" folder-mode="false"></select>
                              </div>
                              <div class="col-sm-3" style="margin-left: 0px;margin-right: 0px;" >
                                  <input id="name" class="form-control" ng-model="checklist.name" ng-model-options="{updateOn: 'blur', debounce: {default: 2000, blur: 0} }" ng-change="update(checklist)">
                              </div>
                              <div class="col-sm-2" style="margin-left: 0px;margin-right: 0px" >
                                  <input id="estimatedTime" class="form-control" ng-model="checklist.estimatedTime" ng-model-options="{updateOn: 'blur', debounce: {default: 2000, blur: 0} }" ng-change="update(checklist)">
                              </div>
                              <div class="col-sm-4" style="margin-left: 0px;margin-right: 0px">
                                  <textarea id="desc" row="1" class="form-control" ng-model="checklist.desc" ng-model-options="{updateOn: 'blur', debounce: {default: 2000, blur: 0} }" ng-change="update(checklist)"></textarea>
                              </div>
                          </div>
                    </div>
                    <div class="row checklist-header">
                      <div class="col-sm-1">
                        №
                      </div>
                      <div class="col-sm-1">
                        Priority
                      </div>
                      <div class="col-sm-5">
                        Step
                      </div>
                      <div class="col-sm-5">
                        Expected
                      </div>
                    </div>
                    <div class="steps scroll-wrapper" id="scroll-wrapper" ng-style="{'height' : isOpen ? 'calc(100% - 240px)' : 'calc(100% - 135px)'}" style="overflow-y: auto;overflow-x: hidden;">
                      <div tms-checklist group="checklist"></div>
                    </div>
                    <div style="height: 50px;margin:5px 10px 5px 10px;">
                        <img ng-click="addStep(checklist);" class="pull-right" title="Add step" style="cursor: pointer;margin-top: 10px;margin-left:20px" src="media/step_add.png">
                        <img ng-click="importSteps(checklist);update(checklist);" class="pull-right" title="Import steps" style="cursor: pointer;margin-top: 10px;margin-left:20px" src="media/import.png">
                        <img ng-click="exportSteps(checklist);" class="pull-right" title="Export steps" style="cursor: pointer;margin-top: 10px;margin-left:20px" src="media/export.png">
                        <img ng-click="generateXLS(checklist);" class="pull-right" title="Generate report" style="cursor: pointer;margin-top: 10px;margin-left:20px" src="media/print.png">
                        <img ng-click="newVersion(checklist);" class="pull-right" title="New version" style="cursor: pointer;margin-top: 10px;margin-left:20px" src="media/step_add.png">
                    </div>
                </div>
            </div>
            <div ng-controller="ChecklistFolderController">
                <div class="folder" ng-if="folder && (folder._id != 0 && folder._id != 1 && folder._id != 2)">
                    <div class="row" style="margin:0;border-bottom: 1px solid #cecece;height: 33px">
                        <span style="padding-top: 8px;padding-left: 10px;position: absolute">{{folder.name}}</span>
                    </div>
                    <div class="row" style="margin: 5px 0px 0px 0px">
                        <div class="col-sm-6" style="margin-left: 0px;margin-right: 0px;margin-bottom: 7px">
                            <div class="col-sm-12 row">
                                <span class="label label-success">Folder:</span>
                            </div>
                            <select class="ac-select stateList" ac-model="folder.parent" ac-options="folder.name for folder in findFolders()"
                                    ac-settings="{ comboMode: true, loadOnOpen: true, minWidth: '300px' }" ac-change="updateParent" folder-mode="folder._id"></select>
                        </div>
                        <div class="col-sm-6" ng-class="{'has-error': form.name.$error.mongoose}">
                            <span class="label label-success">Name:</span>
                            <input name="name" class="form-control" ng-model="folder.name"
                                   autofocus11
                                   mongoose-error
                                   ng-model-options="{updateOn: 'blur', debounce: {default: 2000, blur: 0} }" ng-change="update(folder)">
                            <p class="help-block"
                               ng-show="form.name.$error.mongoose">
                                Field is {{ errors.name }}.
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <span class="label label-success">Description:</span>
                            <textarea id="desc" class="form-control" ng-model="folder.desc" ng-model-options="{updateOn: 'blur', debounce: {default: 2000, blur: 0} }" ng-change="update(folder)"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
